.about-us-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;

    header {
        font-size: $font-size-xs;
        font-family: $font-family-vbp;
        background-color: #fff;
        word-wrap: break-word;
        white-space: normal;
        flex: 1;
        max-width: 80%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 5px 21px rgba(0, 0, 0, 0.1);
        background-color: transparent;
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
        text-align: center;

        header {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        header {
            max-width: 45%; /* Ställ in en maxbredd för header på tablet */
        }
    }

    @include laptop {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        header {
            max-width: 40%; /* Anpassa ytterligare på laptop för att minska bredden */
        }
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.about-us-images-container {
    display: grid; /* Byter till grid-layout */
    grid-template-columns: repeat(3, 1fr); /* Tre kolumner av lika stor bredd */
   
    flex: 1;
    align-items: center;
    justify-content: center;

    img {
        width: 100%; /* Gör bilderna responsiva */
        max-width: 300px; /* Maxbredd på bilderna */
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    @include mobile {
        grid-template-columns: 2fr; /* På mobil, visa en bild per rad */
    }

    @include tablet {
        grid-template-columns: repeat(3, 1fr); /* På tablet, visa två bilder per rad */
    }

    @include laptop {
        grid-template-columns: repeat(4, 1fr); /* På laptop, tre bilder per rad */
    }

    @include desktop {
        grid-template-columns: repeat(4, 1fr); /* På desktop, tre bilder per rad */
    }
}


