@using Examarbeta.Models.ViewModels
@using Umbraco.Cms.Web.Common.PublishedModels
@inherits UmbracoViewPage<AboutusViewModel>
@{
    Layout = "mainLayout.cshtml";

    // Hämta listan av bilder
    var aboutUsImages = Model.Content?.Value<IEnumerable<IPublishedContent>>("aboutUsImage") ?? Enumerable.Empty<IPublishedContent>();
}

<section class="about-us-section">
    <header>
        @if (Model.Content != null)
        {
            <h7>@Html.Raw(Model.Content.AboutUsDescription)</h7>
            <p>@Html.Raw(Model.Content.Discriptionsaboutus)</p>
        }
        else
        {
            <h1>No content available</h1>
        }
    </header>

    @if (aboutUsImages.Any())
    {
        <div class="about-us-images-container">
            @foreach (var image in aboutUsImages)
            {
                string imageUrl = image.Url();
                string imageAlt = "About Us Image";

                <img src="@imageUrl" alt="@imageAlt" />
            }
        </div>
    }
    else
    {
        <p>No images available.</p>
    }
</section>

