@using Examarbeta.Models.ViewModels
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits UmbracoViewPage<StartPageViewModel>
@{
	Layout = "mainLayout.cshtml";
}
<div class="Header-start">
    <h1 class="main-title">@Html.Raw(Model.Content.Title)</h1>
    <h7 class="long-text">@Html.Raw(Model.Content.TextLong)</h7>

</div>


<div class="container">
    @await Component.InvokeAsync("EventCard")

</div>